html {
  font-family: 'Poppins', sans-serif!important;
}

.bg-about {
  background-image: url('https://cdn.weareasterisk.com/event-assets/earthxhack/backgrounds/patrick-fore-unsplash-min.png');
}

.bg-poly-earth {
  background-image: url('https://cdn.weareasterisk.com/event-assets/earthxhack/artwork/poly-earth.png');
}

.bg-landing {
  background-color: #E5E5E5;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.attend-baloon {
  animation: float 5s ease-in-out infinite;
}

.volunteer-baloon {
  animation: float 7s ease-in-out infinite;
}

@keyframes spin { 100% { transform:rotate(360deg); } }

.sponsor-sun {
  animation: spin 12s infinite linear;
}

.faq-masonry-grid {
  display: flex;
	width: auto;
}
@media (min-width: 1024px){
	.remove-margin:first-child {
		margin-top: -4rem;
	}
}
.faq-masonry-column {
	padding-left: 12rem;
  background-clip: padding-box;
}
 
/* Style your items */
.faq-masonry-column > div {
}

p > a {
	&:hover {
		text-decoration: underline;
	}
}

.about-text-blur { 
	background: rgba(0, 0, 0, 0.3);
}

a {
	&:hover {
		text-decoration: underline;
		color: #555
	}
}