html {
  font-family: 'Poppins', sans-serif!important;
}

.bg-about {
  background-image: url('https://cdn.weareasterisk.com/event-assets/earthxhack/backgrounds/patrick-fore-unsplash-min.png');
}

.bg-poly-earth {
  background-image: url('https://cdn.weareasterisk.com/event-assets/earthxhack/artwork/poly-earth.png');
}